.body-content{
  background: rgba(204, 229, 255, 0.2);
}

.service-image{/* 
  --> background-color works, but is less flexible */
  /*  background: rgb(240, 248, 255); 
      background-image: url("../../assets/img/Rims4.jpg");
      background: url("../../assets/img/Rims4.jpg");
      background-repeat: no-repeat; 
      background-size: 400px 400px;*/
  width: 500px;
  height: 500px;
  background: royalblue;
  background: linear-gradient(to right top, rgb(0,0,255), rgba(0,0,255,0));
}

.service-image-1{
  width: 500px;
  height: 500px;
  background: orange;
  background: linear-gradient(160deg,orange, rgba(0,0,255,0));
}

.service-image-2{
  width: 500px;
  height: 500px;
  background: radial-gradient(red 20%,green 40%, blue 50%);
}

#title{
  color: rgb(146, 0, 0);
}

.subtitle{
  color: rgb(165, 0, 0);
}