.body-content{
  background: rgba(204, 229, 255, 0.2);
  text-align: justify;/* Align text on the page. */
  font-size: 1em;
  font-family: monospace;/* Majorly 3: serif, san-serif, monospace */
}

.service-image{/* 
  --> background-color works, but is less flexible */
  /*  background: rgb(240, 248, 255); 
      background-image: url("../../assets/img/Rims4.jpg");
      background: url("../../assets/img/Rims4.jpg");
      background-repeat: no-repeat; 
      background-size: 400px 400px;*/
  width: 500px;
  height: 500px;
  background: royalblue;
  background: linear-gradient(to right top, rgb(0,0,255), rgba(0,0,255,0));
}

.service-image-1{
  width: 500px;
  height: 500px;
  background: orange;
  background: linear-gradient(160deg,orange, rgba(0,0,255,0));
  
}

.service-image-2{
  width: 450px;
  height: 500px;
  background: radial-gradient( red 20%,green 40%, blue 50%);
  border: 2px solid #a00101; /* size style color */
}

#title{
  color: rgb(146, 0, 0);
  font-weight: 800; /* Handles bolding level of the font */

}

.subtitle{
  color: rgb(165, 0, 0);
}

/* ---------------TEXT DECORATION---------- */
.link{
  text-decoration: underline;
  text-transform: capitalize; /* handles case of the text... like this which capitalizes every word in the text */ 
}

.italics{
  font-style: oblique; /* italicizes the text */
}

#landscape-image{
  height: 400px;
  width: 50vw;
  border: 6px solid #a00101; 
  padding: 100px 50px 25px 12px;/* top right bottom left */
 margin: 40px; /* Adds space around the element */
}