div{
  float: left;
}

h1{
  font-size: 50px;
}

h2{
  margin-top: 10px;
  margin-left: 10px;
}

#box1{
  position: relative;
  margin-left: -500px;
  margin-top: -2px;
  padding: 30%; 
  width: 1200px;
  height: 1000px;
  border: 2px solid;
  color: aliceblue;
  border-radius: 2000px;
  background-color: rgb(160, 83, 11);
  text-align: center;
  overflow: hidden;
}

#box2{
  position: relative;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(0, 217, 255);
  width: 100px;
  height: 200px;
  border-radius: 20px;
  
}

.paragraph-container{
  background-color: rgb(228, 240, 240);
  border-radius: 10px;
}

.paragraph{
  padding: 20px;
  clear: both;
}

/*-------------------PSEUDO SELECTORS------------*/
h1:hover{
  color: #bbb3b3;
  
}
li:first-child{
  color: aquamarine;
}
li:last-child{
  color: beige;
}

li:nth-child(2){
  color: #79af47;
}

li:only-child{ /* takes effect if there's a list with only one child */
  color: aqua;
}

#google-link:link{
  color: #79af47;
}

#google-link:visited{
  color: black;
}

/* ---------ADVANCED SELECTORS---------------------- */
h2 + p{ 
  /* 
  --> Changes the color of every paragraph that follows an h2
  */
  color: #79af47;
}

textarea ~ button {
  /* 
  --> Changes the color of every paragraph that follows an h2
  --> The two elements should have the same parent div
  */
  color: aqua;
}