div{
  float: left;
}

#box1{
position: relative;
  margin-left: -200px;
margin-top: px;
 /* padding: 30%; */
  width: 1000px;
  height: 500px;
  border: 2px solid;
  color: aliceblue;
  border-radius: 45px;
  background-color: brown;
  text-align: center;
}

#box2{
  position: relative;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(0, 217, 255);
  width: 100px;
  height: 100px;
  overflow: scroll;
}